<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282781483338-4a7hufu2tia6mc1s5g4212kkv8rrcteq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282781483338-4a7hufu2tia6mc1s5g4212kkv8rrcteq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>282781483338-j68urhgkbei917k834g0s9praq6uanct.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCapyPgLEnou6wFhYbOkrwgZDjX6VfXljA</string>
	<key>GCM_SENDER_ID</key>
	<string>282781483338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dl.althabet</string>
	<key>PROJECT_ID</key>
	<string>althabet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>althabet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282781483338:ios:5c29cf357d1a5534</string>
	<key>DATABASE_URL</key>
	<string>https://althabet-app.firebaseio.com</string>
</dict>
</plist>
